:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --backgroung-color-dark-theme: #2f303a;
  --background-light-theme: #f5f4fa;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --logo-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}

.header-page {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--logo-color);
}

@media screen and (max-width: 767px) {
  .menu-navigation-list__link {
    color: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-navigation-list__link:hover, .menu-navigation-list__link:focus {
    color: var(--accent-color);
  }
  .menu-navigation-list__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .navigation-menu__social-list {
    margin-top: 64px;
  }
  .menu-navigation-list__number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .menu-navigation__number {
    margin-bottom: 32px;
  }
  .navigation-menu__social-list {
    display: flex;
  }
  .mobile-menu__navigation-list:not(:last-child) {
    margin-right: 10px;
  }
  .mobile-menu__navigation-list:not(:last-child)::after {
    width: 22px;
    height: 0px;
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;
  }
  .navigation-menu__social-link {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__container {
    display: flex;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .navigation-list {
    display: none;
  }
  .header__list {
    display: none;
  }
  .br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .header-contact {
    margin: auto;
  }
  .navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .navigation-list:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list:last-child {
    margin-right: 84px;
  }
  .header__list {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .tablet-contact {
    display: flex;
    flex-direction: column;
  }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo.link {
    margin-right: 68px;
  }
  .logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .header-contact__icon {
    width: 14px;
    height: 10px;
  }
  .header-contact__icon-phone {
    width: 10px;
    height: 14px;
  }
  .header-contact {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .br {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .header-page {
    color: var(--primary-text-color-theme-light);
    background-color: var(--primary-text-color-theme-dark);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }
  .header__container,
  .header__navigation,
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    color: var(--secondary-text-color-theme-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__list:hover, .header__list:focus {
    color: var(--accent-color);
  }
  .header-contact__icon {
    fill: #757575;
    margin-right: 10px;
  }
  .header__list:hover .header-contact__icon,
  .header__list:focus .header-contact__icon {
    fill: var(--accent-color);
  }
  .header__logo {
    color: var(--logo-color);
    margin-right: 93px;
  }
  .logo.link {
    margin: 0;
  }
  .header-contact {
    margin-left: auto;
    margin-right: 50px;
  }
  .navigation-list {
    margin: 0;
  }
  .tablet-contact {
    flex-direction: inherit;
    margin-left: 150px;
  }
  .header-contact__icon-phone {
    margin-right: 10px;
  }
  .navigation-list__link.link.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    bottom: 0;
    left: 0;
    height: 4px;
    top: 44px;
    border-radius: 2px;
  }
}

.navigation-list__item {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--accent-color);
}

.nav-list-button {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--background-light-theme);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-button:hover, .nav-list-button:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navigation-list__link.link.current {
  color: var(--accent-color);
}

.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-mobile.jpg);
  background-size: cover;
  background-color: var(--backgroung-color-dark-theme);
  text-align: center;
  height: 480px;
  align-items: center;
  font-size: 26px;
  line-height: 1.61;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-tablet.jpg);
    height: 398px;
    padding-top: 116px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
    height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.excellence-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.text-pharagrapher {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 30px;
  text-align: left;
}

.container {
  text-align: center;
}

.excellence-image {
  width: 70px;
  height: 70px;
}

.excellence-image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .excellence-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .excellent-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }
  .excellence-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .excellence-list {
    display: flex;
    margin-left: -30px;
  }
  .excellence-image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.gallery-title,
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery-list-item {
  flex-basis: calc((100% - 90px) / 3);
}

.gallery-section {
  padding-bottom: 94px;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.section-item-style {
  background-color: var(--primary-text-color-theme-dark);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-section {
  display: flex;
  background: var(--background-light-theme);
  padding-top: 94px;
  padding-bottom: 90px;
}

.social-list-item {
  margin-right: 10px;
}

.social-list-item:last-child {
  margin-right: 0px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:last-child {
  margin-right: 0;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: white;
}

.list-section {
  padding-top: 0px;
}

.elements-team-section {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.section-title {
  margin-bottom: 10px;
}

.clients-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color-theme-light);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-group {
  display: flex;
  justify-content: space-between;
}

.clients-group-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-group-link:hover .clients-group-icons,
.clients-group-link:focus .clients-group-icons {
  fill: var(--accent-color);
}

.clients-group-link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-group-link:hover {
  border-color: var(--accent-color);
}

.footer-page {
  display: flex;
  height: 252px;
  padding-top: 64px;
  padding-bottom: 56px;
  justify-content: space-between;
}

.footer-page-section {
  background-color: var(--backgroung-color-dark-theme);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link,
.footer-logo {
  color: var(--primary-text-color-theme-dark);
}

.mail-link-footer,
.link-number-phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link-footer {
  font-style: normal;
}

.address-footer-section {
  margin-top: 20px;
  margin-bottom: 9px;
}

.link-phone {
  margin-top: 9px;
}

.footer-container {
  display: block;
}

.footer-contacts-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item:last-child {
  margin-right: 0;
}

.footer-contacts-item:last-child:hover, .footer-contacts-item:last-child:focus {
  background-color: var(--accent-color);
}

.footer-page-list {
  display: flex;
}

.footer-contacts-list {
  display: flex;
  justify-content: left;
}

.footer-icons {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.footer-contacts-link:focus, .footer-contacts-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-page-item-left {
  margin-right: 40px;
}

.footer-contact-title {
  display: inline-block;
  color: var(--primary-text-color-theme-dark);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.navigation-portfolio {
  padding-top: 94px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list-button {
  margin-right: 8px;
}

.image-onlay {
  position: relative;
  overflow: auto;
}

.onlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-light-theme);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-family);
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px 63px 24px;
}

.img-overlay:hover .overlay,
.img-overlay:focus .overlay {
  transform: translateY(0%);
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: 0;
}

.product-section-style {
  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
  border-top: none;
}

.product-section-link {
  color: inherit;
}

.product-section-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-section-list-item:hover, .product-section-list-item:focus {
  box-sizing: border-box;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin: 30px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    line-height: 60px;
    color: var(--primary-text-color-theme-dark);
    cursor: pointer;
    margin-bottom: 30px;
  }
}

.title {
  margin-bottom: 50px;
}

.text-pharagrapher-picture {
  font-size: 16px;
  line-height: 1.11;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  text-align: center;
  margin-bottom: 16px;
}

.text-pharagrapher-picture-second {
  font-size: 16px;
  line-height: 1.11;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--primary-text-color-theme-dark);
  padding: 0;
  cursor: pointer;
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--accent-color);
}

.contact-form-field {
  display: block;
}

.comment {
  margin-bottom: 20px;
}

.label-name {
  margin-top: 12px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-text {
  width: 50px;
  height: 14px;
  left: 576px;
  top: 364px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form-text-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.image-wrapper {
  position: absolute;
  color: #212121;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .image-wrapper {
  fill: var(--accent-color);
}

.wrapper-name {
  width: 12px;
  height: 12px;
}

.wrapper-phone {
  width: 12px;
  height: 13px;
}

.wrapper-email {
  width: 15px;
  height: 12px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  font-size: 14px;
  display: block;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.contact-form-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  border: 2px solid #212121;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-color: var(--accent-color);
  border: var(--accent-color);
  background-image: url("../img/icon.svg");
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
}

.modal-form-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-link {
  color: var(--accent-color);
}

.mail-link-footer:hover,
.mail-link-footer:focus {
  color: var(--accent-color);
}

.link-number-phone-footer:hover,
.link-number-phone-footer:focus {
  color: var(--accent-color);
}

.contact-form-footer {
  display: flex;
  justify-content: center;
}

.form-title {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
}

.contact-form-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.image-button {
  margin-left: 10px;
}

.footer-contact-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  color: #ffffff;
}

.contact-form-footer-email {
  margin-top: 20px;
  color: #ffffff;
}

.footer-form {
  margin-left: auto;
}

.footer-contact-form-input {
  display: inline;
}

.footer-email-form {
  display: flex;
  justify-content: left;
}
