.modal-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
    cursor: pointer;
    border: 0px;
    min-width: 200px;
    padding: 10px 32px;
}