.navigation-portfolio {
    padding-top: 94px;
    padding-bottom: 120px;
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-button {
    margin-right: 8px;
}