.excellence-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.text-pharagrapher {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 30px;
  text-align: left;
}
.container {
  text-align: center;
}

.excellence-image {
  width: 70px;
  height: 70px;
}

.excellence-image-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .excellence-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .excellent-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }
  .excellence-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .excellence-list {
    display: flex;

    margin-left: -30px;
  }
  .excellence-image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  // .elements-section {
  //   margin-left: 30px;
  //   &:nth-last-of-type(n + 4) {
  //     margin-bottom: 30px;
  //   }
}
