@media screen and (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}
.header-page {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--logo-color);
}

@media screen and (max-width: 767px) {
  .menu-navigation-list__link {
    color: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .menu-navigation-list {
    margin-bottom: 305px;
  }

  .menu-navigation-list__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .navigation-menu__social-list {
    margin-top: 64px;
  }

  .menu-navigation-list__number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .menu-navigation__number {
    margin-bottom: 32px;
  }

  .navigation-menu__social-list {
    display: flex;
  }

  .mobile-menu__navigation-list {
    &:not(:last-child) {
      margin-right: 10px;
      &::after {
        width: 22px;
        height: 0px;
        content: '';
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        padding-right: 10px;
      }
    }
  }
  .navigation-menu__social-link {
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow: auto;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 15px;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .navigation-list {
    display: none;
  }

  .header__list {
    display: none;
  }

  .br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .header-contact {
    margin: auto;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    &:not(:last-child) {
      margin-right: 50px;
    }
    &:last-child {
      margin-right: 84px;
    }
  }

  .header__list {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .tablet-contact {
    display: flex;
    flex-direction: column;
  }

  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo.link {
    margin-right: 68px;
  }
  .logo {
    display: flex;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }

  .header-contact__icon {
    width: 14px;
    height: 10px;
  }

  .header-contact__icon-phone {
    width: 10px;
    height: 14px;
  }

  .header-contact {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-page {
    color: var(--primary-text-color-theme-light);
    background-color: var(--primary-text-color-theme-dark);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ececec;
  }

  .header__container,
  .header__navigation,
  .navigation-list {
    display: flex;
    align-items: center;
  }

  .header__list {
    display: flex;
    color: var(--secondary-text-color-theme-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .header-contact__icon {
    fill: rgba(117, 117, 117, 1);
    margin-right: 10px;
    .header__list:hover &,
    .header__list:focus & {
      fill: var(--accent-color);
    }
  }

  .header__logo {
    color: var(--logo-color);
    margin-right: 93px;
  }
  .logo.link {
    margin: 0;
  }
  .header-contact {
    margin-left: auto;
    margin-right: 50px;
  }
  .navigation-list {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .br {
    display: none;
  }
}
